doctype 5
html
   head
      title Github Markdown Preview
      != css("main")

   body
      each messages, type in locals.flash
         each message in messages
            div.flash(class=type)= message
      block content

      #footer
         p
            |a project of <a href="http://twitter.com/adunkman">@adunkman</a>
            span.separator &bull;
            |<a href="http://github.com/adunkman/github-markdown-preview">fork the source</a> on github