@import "lib/github.css"
@import "lib/github2.css"

body
   max-width: 960px
   margin: 0 auto

h1
   padding: 20px 0 10px 0

textarea
   height: 300px
   margin-bottom: 20px

#readme span.name a
   float: right

#footer
   text-align: center
   color: #888
   padding-bottom: 20px

   .separator
      color: #aaa
      padding: 0 10px