body
   background-color: #fff
   color: #333
   font: 14px Helvetica, arial, freesans, clean, sans-serif
   line-height: 1.6

   h1, h2, h3, h4, h5, h6
      margin: 20px 0 10px
      padding: 0
      font-weight: bold
      cursor: text
      -webkit-font-smoothing: antialiased
      position: relative

   h1
      font-size: 28px
      color: #000

   h2
      font-size: 24px
      border-bottom: 1px solid #ccc
      color: #000

   h3
      font-size: 18px

   h4
      font-size: 16px

   h5
      font-size: 14px

   h6
      font-size: 14px
      color: #777

   p, blockquote, ul, ol, dl, table, pre
      margin: 15px 0

   ol, ul
      padding-left: 30px

   li
      margin: 0
      padding: 0

   ul ul, ul ol, ol ol, ol ul
      margin: 0

   h1 + p
      margin-top: 0

   code
      white-space: nowrap

   code, tt
      margin: 0 2px
      padding: 0 5px
      border: 1px solid #eaeaea
      background-color: #f8f8f8
      border-radius: 3px
      font-size: 12px
      font-family: Consolas, "Liberation Mono", Courier, monospace

   pre
      background-color: #f8f8f8
      border: 1px solid #ccc
      font-size: 13px
      line-height: 19px
      overflow: auto
      padding: 6px 10px
      border-radius: 3px
      font-family: Consolas, "Liberation Mono", Courier, monospace

      code
         margin: 0
         padding: 0
         border: none
         background-color: transparent
         white-space: pre

   a
      color: #4183c4
      text-decoration: none

      &:hover
         text-decoration: underline

      &:active
         outline: none

   .highlight
      .kd, .o, .k
         font-weight: bold
      .s1
         color: #D14
      .mi
         color: #099
      .nt
         color: #000080
      .sr
         color: #009926
      .nb
         color: #0086b3

.markdown
   border: 1px solid #cacaca
   padding: 30px